.modal {
	
	.modal-dialog {
		
		.modal-content {
			.box-shadow(0 3px 9px rgba(0,0,0,0.2));
			// border-color: #f5f5f5;
			border: none;
			padding: @default-padding;
			
			.modal-header {
				margin: 0;
				padding: 0;
				// border-bottom-width: 2px;
				border-bottom: none;
				padding-bottom: @default-padding/2;
				
				.close {
					outline: none;
				}
			}

			.modal-title {
				font-weight: 500;
			}
			
			.modal-body {
				padding: @base-margin 0;
			}
			
			.modal-footer {
				padding: 0;
				padding-top: @default-padding/2;
				
				.btn {
					margin-bottom: 0;
				}
			}
		}
	}
	
	// Animations
	&.scale {
		
		.modal-dialog {
			.opacity(0);
			.scale(.8);
			.transition(~"all 1000ms ease-in-out");
			.transform-origin(center bottom);
		}
		
		&.in .modal-dialog {
			.opacity(1);
			.scale(1);
		}
	}
}

.modal-container {
  position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}

.modal-backdrop {
	background: #fff;
}