/**
 * CUSTOM BACKGROUND
 */
.kata-bg-biglines-left {
  content: ' ';
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -10;
  background: url('imgs/biglines-left.png') no-repeat;
  background-position: bottom left;
}

.kata-bg-biglines-right {
  content: ' ';
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -9;
  background: url('imgs/biglines-right.png') no-repeat;
  background-position: bottom right;
}

.auth-wrapper {
  overflow: auto;
  background-image: url('imgs/background.png');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 67.65%;
}

.auth-container {
  width: 350px;
  margin: 10% auto 0;
  box-shadow: 0 0 5px #bbb;
  background: #fff;
}

.auth-logo {
  width: 120px;
}

.auth-form-container {
  padding: 0 25px;
  margin: 25px auto;
}

.auth-input-icon {
  color: #89949B;
  width: 15px;
}

.auth-input {
  font-size: 16px!important;
}

.auth-label label {
  color: #979898;
}
