/* Variables */


/*
   SPACING
   Docs: http://tachyons.io/docs/layout/spacing/
   An eight step powers of two scale ranging from 0 to 16rem.
   Base:
     p = padding
     m = margin
   Modifiers:
     a = all
     h = horizontal
     v = vertical
     t = top
     r = right
     b = bottom
     l = left
     0 = none
     1 = 1st step in spacing scale
     2 = 2nd step in spacing scale
     3 = 3rd step in spacing scale
     4 = 4th step in spacing scale
     5 = 5th step in spacing scale
     6 = 6th step in spacing scale
     7 = 7th step in spacing scale
   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large
*/

.pa0 {
  padding: 0!important;
}

.pa1 {
  padding: .25rem!important;
}

.pa2 {
  padding: .5rem!important;
}

.pa3 {
  padding: 1rem!important;
}

.pa4 {
  padding: 2rem!important;
}

.pa5 {
  padding: 4rem!important;
}

.pa6 {
  padding: 8rem!important;
}

.pa7 {
  padding: 16rem!important;
}

.pl0 {
  padding-left: 0!important;
}

.pl1 {
  padding-left: .25rem!important;
}

.pl2 {
  padding-left: .5rem!important;
}

.pl3 {
  padding-left: 1rem!important;
}

.pl4 {
  padding-left: 2rem!important;
}

.pl5 {
  padding-left: 4rem!important;
}

.pl6 {
  padding-left: 8rem!important;
}

.pl7 {
  padding-left: 16rem!important;
}

.pr0 {
  padding-right: 0!important;
}

.pr1 {
  padding-right: .25rem!important;
}

.pr2 {
  padding-right: .5rem!important;
}

.pr3 {
  padding-right: 1rem!important;
}

.pr4 {
  padding-right: 2rem!important;
}

.pr5 {
  padding-right: 4rem!important;
}

.pr6 {
  padding-right: 8rem!important;
}

.pr7 {
  padding-right: 16rem!important;
}

.pb0 {
  padding-bottom: 0!important;
}

.pb1 {
  padding-bottom: .25rem!important;
}

.pb2 {
  padding-bottom: .5rem!important;
}

.pb3 {
  padding-bottom: 1rem!important;
}

.pb4 {
  padding-bottom: 2rem!important;
}

.pb5 {
  padding-bottom: 4rem!important;
}

.pb6 {
  padding-bottom: 8rem!important;
}

.pb7 {
  padding-bottom: 16rem!important;
}

.pt0 {
  padding-top: 0!important;
}

.pt1 {
  padding-top: .25rem!important;
}

.pt2 {
  padding-top: .5rem!important;
}

.pt3 {
  padding-top: 1rem!important;
}

.pt4 {
  padding-top: 2rem!important;
}

.pt5 {
  padding-top: 4rem!important;
}

.pt6 {
  padding-top: 8rem!important;
}

.pt7 {
  padding-top: 16rem!important;
}

.pv0 {
  padding-top: 0!important;
  padding-bottom: 0!important;
}

.pv1 {
  padding-top: .25rem!important;
  padding-bottom: .25rem!important;
}

.pv2 {
  padding-top: .5rem!important;
  padding-bottom: .5rem!important;
}

.pv3 {
  padding-top: 1rem!important;
  padding-bottom: 1rem!important;
}

.pv4 {
  padding-top: 2rem!important;
  padding-bottom: 2rem!important;
}

.pv5 {
  padding-top: 4rem!important;
  padding-bottom: 4rem!important;
}

.pv6 {
  padding-top: 8rem!important;
  padding-bottom: 8rem!important;
}

.pv7 {
  padding-top: 16rem!important;
  padding-bottom: 16rem!important;
}

.ph0 {
  padding-left: 0!important;
  padding-right: 0!important;
}

.ph1 {
  padding-left: .25rem!important;
  padding-right: .25rem!important;
}

.ph2 {
  padding-left: .5rem!important;
  padding-right: .5rem!important;
}

.ph3 {
  padding-left: 1rem!important;
  padding-right: 1rem!important;
}

.ph4 {
  padding-left: 2rem!important;
  padding-right: 2rem!important;
}

.ph5 {
  padding-left: 4rem!important;
  padding-right: 4rem!important;
}

.ph6 {
  padding-left: 8rem!important;
  padding-right: 8rem!important;
}

.ph7 {
  padding-left: 16rem!important;
  padding-right: 16rem!important;
}

.ma0 {
  margin: 0!important;
}

.ma1 {
  margin: .25rem!important;
}

.ma2 {
  margin: .5rem!important;
}

.ma3 {
  margin: 1rem!important;
}

.ma4 {
  margin: 2rem!important;
}

.ma5 {
  margin: 4rem!important;
}

.ma6 {
  margin: 8rem!important;
}

.ma7 {
  margin: 16rem!important;
}

.ml0 {
  margin-left: 0!important;
}

.ml1 {
  margin-left: .25rem!important;
}

.ml2 {
  margin-left: .5rem!important;
}

.ml3 {
  margin-left: 1rem!important;
}

.ml4 {
  margin-left: 2rem!important;
}

.ml5 {
  margin-left: 4rem!important;
}

.ml6 {
  margin-left: 8rem!important;
}

.ml7 {
  margin-left: 16rem!important;
}

.mr0 {
  margin-right: 0!important;
}

.mr1 {
  margin-right: .25rem!important;
}

.mr2 {
  margin-right: .5rem!important;
}

.mr3 {
  margin-right: 1rem!important;
}

.mr4 {
  margin-right: 2rem!important;
}

.mr5 {
  margin-right: 4rem!important;
}

.mr6 {
  margin-right: 8rem!important;
}

.mr7 {
  margin-right: 16rem!important;
}

.mb0 {
  margin-bottom: 0!important;
}

.mb1 {
  margin-bottom: .25rem!important;
}

.mb2 {
  margin-bottom: .5rem!important;
}

.mb3 {
  margin-bottom: 1rem!important;
}

.mb4 {
  margin-bottom: 2rem!important;
}

.mb5 {
  margin-bottom: 4rem!important;
}

.mb6 {
  margin-bottom: 8rem!important;
}

.mb7 {
  margin-bottom: 16rem!important;
}

.mt0 {
  margin-top: 0!important;
}

.mt1 {
  margin-top: .25rem!important;
}

.mt2 {
  margin-top: .5rem!important;
}

.mt3 {
  margin-top: 1rem!important;
}

.mt4 {
  margin-top: 2rem!important;
}

.mt5 {
  margin-top: 4rem!important;
}

.mt6 {
  margin-top: 8rem!important;
}

.mt7 {
  margin-top: 16rem!important;
}

.mv0 {
  margin-top: 0!important;
  margin-bottom: 0!important;
}

.mv1 {
  margin-top: .25rem!important;
  margin-bottom: .25rem!important;
}

.mv2 {
  margin-top: .5rem!important;
  margin-bottom: .5rem!important;
}

.mv3 {
  margin-top: 1rem!important;
  margin-bottom: 1rem!important;
}

.mv4 {
  margin-top: 2rem!important;
  margin-bottom: 2rem!important;
}

.mv5 {
  margin-top: 4rem!important;
  margin-bottom: 4rem!important;
}

.mv6 {
  margin-top: 8rem!important;
  margin-bottom: 8rem!important;
}

.mv7 {
  margin-top: 16rem!important;
  margin-bottom: 16rem!important;
}

.mh0 {
  margin-left: 0!important;
  margin-right: 0!important;
}

.mh1 {
  margin-left: .25rem!important;
  margin-right: .25rem!important;
}

.mh2 {
  margin-left: .5rem!important;
  margin-right: .5rem!important;
}

.mh3 {
  margin-left: 1rem!important;
  margin-right: 1rem!important;
}

.mh4 {
  margin-left: 2rem!important;
  margin-right: 2rem!important;
}

.mh5 {
  margin-left: 4rem!important;
  margin-right: 4rem!important;
}

.mh6 {
  margin-left: 8rem!important;
  margin-right: 8rem!important;
}

.mh7 {
  margin-left: 16rem!important;
  margin-right: 16rem!important;
}


/*
   NEGATIVE MARGINS
   Base:
     n = negative
   Modifiers:
     a = all
     t = top
     r = right
     b = bottom
     l = left
     1 = 1st step in spacing scale
     2 = 2nd step in spacing scale
     3 = 3rd step in spacing scale
     4 = 4th step in spacing scale
     5 = 5th step in spacing scale
     6 = 6th step in spacing scale
     7 = 7th step in spacing scale
   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large
*/

.na1 {
  margin: -.25rem!important;
}

.na2 {
  margin: -.5rem!important;
}

.na3 {
  margin: -1rem!important;
}

.na4 {
  margin: -2rem!important;
}

.na5 {
  margin: -4rem!important;
}

.na6 {
  margin: -8rem!important;
}

.na7 {
  margin: -16rem!important;
}

.nl1 {
  margin-left: -.25rem!important;
}

.nl2 {
  margin-left: -.5rem!important;
}

.nl3 {
  margin-left: -1rem!important;
}

.nl4 {
  margin-left: -2rem!important;
}

.nl5 {
  margin-left: -4rem!important;
}

.nl6 {
  margin-left: -8rem!important;
}

.nl7 {
  margin-left: -16rem!important;
}

.nr1 {
  margin-right: -.25rem!important;
}

.nr2 {
  margin-right: -.5rem!important;
}

.nr3 {
  margin-right: -1rem!important;
}

.nr4 {
  margin-right: -2rem!important;
}

.nr5 {
  margin-right: -4rem!important;
}

.nr6 {
  margin-right: -8rem!important;
}

.nr7 {
  margin-right: -16rem!important;
}

.nb1 {
  margin-bottom: -.25rem!important;
}

.nb2 {
  margin-bottom: -.5rem!important;
}

.nb3 {
  margin-bottom: -1rem!important;
}

.nb4 {
  margin-bottom: -2rem!important;
}

.nb5 {
  margin-bottom: -4rem!important;
}

.nb6 {
  margin-bottom: -8rem!important;
}

.nb7 {
  margin-bottom: -16rem!important;
}

.nt1 {
  margin-top: -.25rem!important;
}

.nt2 {
  margin-top: -.5rem!important;
}

.nt3 {
  margin-top: -1rem!important;
}

.nt4 {
  margin-top: -2rem!important;
}

.nt5 {
  margin-top: -4rem!important;
}

.nt6 {
  margin-top: -8rem!important;
}

.nt7 {
  margin-top: -16rem!important;
}


/*
   BORDER RADIUS
   Docs: http://tachyons.io/docs/themes/border-radius/
   Base:
     br   = border-radius
   Modifiers:
     0    = 0/none
     1    = 1st step in scale
     2    = 2nd step in scale
     3    = 3rd step in scale
     4    = 4th step in scale
   Literal values:
     -100 = 100%
     -pill = 9999px
   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large
*/

.br0 {
  border-radius: 0!important;
}

.br1 {
  border-radius: .125rem!important;
}

.br2 {
  border-radius: .25rem!important;
}

.br3 {
  border-radius: .5rem!important;
}

.br4 {
  border-radius: 1rem!important;
}

.br-100 {
  border-radius: 100%!important;
}

.br-pill {
  border-radius: 9999px!important;
}

.br--bottom {
  border-top-left-radius: 0!important;
  border-top-right-radius: 0!important;
}

.br--top {
  border-bottom-left-radius: 0!important;
  border-bottom-right-radius: 0!important;
}

.br--right {
  border-top-left-radius: 0!important;
  border-bottom-left-radius: 0!important;
}

.br--left {
  border-top-right-radius: 0!important;
  border-bottom-right-radius: 0!important;
}


/*
   BORDER STYLES
   Docs: http://tachyons.io/docs/themes/borders/
   Depends on base border module in _borders.css
   Base:
     b = border-style
   Modifiers:
     --none   = none
     --dotted = dotted
     --dashed = dashed
     --solid  = solid
   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large
 */

.b--dotted {
  border-style: dotted!important;
}

.b--dashed {
  border-style: dashed!important;
}

.b--solid {
  border-style: solid!important;
}

.b--none {
  border-style: none!important;
}


/*
   BORDER WIDTHS
   Docs: http://tachyons.io/docs/themes/borders/
   Base:
     bw = border-width
   Modifiers:
     0 = 0 width border
     1 = 1st step in border-width scale
     2 = 2nd step in border-width scale
     3 = 3rd step in border-width scale
     4 = 4th step in border-width scale
     5 = 5th step in border-width scale
   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large
*/

.bw0 {
  border-width: 0!important;
}

.bw1 {
  border-width: .125rem!important;
}

.bw2 {
  border-width: .25rem!important;
}

.bw3 {
  border-width: .5rem!important;
}

.bw4 {
  border-width: 1rem!important;
}

.bw5 {
  border-width: 2rem!important;
}


/* Resets */

.bt-0 {
  border-top-width: 0!important;
}

.br-0 {
  border-right-width: 0!important;
}

.bb-0 {
  border-bottom-width: 0!important;
}

.bl-0 {
  border-left-width: 0!important;
}


/*
   DISPLAY
   Docs: http://tachyons.io/docs/layout/display
   Base:
    d = display
   Modifiers:
    n     = none
    b     = block
    ib    = inline-block
    it    = inline-table
    t     = table
    tc    = table-cell
    t-row          = table-row
    t-columm       = table-column
    t-column-group = table-column-group
   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large
*/

.dn {
  display: none!important;
}

.di {
  display: inline!important;
}

.db {
  display: block!important;
}

.dib {
  display: inline-block!important;
}

.dit {
  display: inline-table!important;
}

.dt {
  display: table!important;
}

.dtc {
  display: table-cell!important;
}

.dt-row {
  display: table-row!important;
}

.dt-row-group {
  display: table-row-group!important;
}

.dt-column {
  display: table-column!important;
}

.dt-column-group {
  display: table-column-group!important;
}


/*
  This will set table to full width and then
  all cells will be equal width
*/

.dt--fixed {
  table-layout: fixed!important;
  width: 100%!important;
}


/*
   FONT WEIGHT
   Docs: http://tachyons.io/docs/typography/font-weight/
   Base
     fw = font-weight
   Modifiers:
     1 = literal value 100
     2 = literal value 200
     3 = literal value 300
     4 = literal value 400
     5 = literal value 500
     6 = literal value 600
     7 = literal value 700
     8 = literal value 800
     9 = literal value 900
   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large
*/

.normal {
  font-weight: normal!important;
}

.b {
  font-weight: bold!important;
}

.fw1 {
  font-weight: 100!important;
}

.fw2 {
  font-weight: 200!important;
}

.fw3 {
  font-weight: 300!important;
}

.fw4 {
  font-weight: 400!important;
}

.fw5 {
  font-weight: 500!important;
}

.fw6 {
  font-weight: 600!important;
}

.fw7 {
  font-weight: 700!important;
}

.fw8 {
  font-weight: 800!important;
}

.fw9 {
  font-weight: 900!important;
}


/*
    OPACITY
    Docs: http://tachyons.io/docs/themes/opacity/
*/

.o-100 {
  opacity: 1!important;
}

.o-90 {
  opacity: .9!important;
}

.o-80 {
  opacity: .8!important;
}

.o-70 {
  opacity: .7!important;
}

.o-60 {
  opacity: .6!important;
}

.o-50 {
  opacity: .5!important;
}

.o-40 {
  opacity: .4!important;
}

.o-30 {
  opacity: .3!important;
}

.o-20 {
  opacity: .2!important;
}

.o-10 {
  opacity: .1!important;
}

.o-05 {
  opacity: .05!important;
}

.o-025 {
  opacity: .025!important;
}

.o-0 {
  opacity: 0!important;
}


/*
   VERTICAL ALIGN
   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large
*/

.v-base {
  vertical-align: baseline!important;
}

.v-mid {
  vertical-align: middle!important;
}

.v-top {
  vertical-align: top!important;
}

.v-btm {
  vertical-align: bottom!important;
}